*,
*::before,
*::after {
    box-sizing: border-box;
}
html {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;

    --header-height: 64px;
    --footer-height: 30px;
    --content-wrapper-height:  calc(100vh - var(--header-height) - var(--footer-height));
    --content-width: 70%;
}
body {
    margin: 0;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    user-select: none;
}

header {
    background: #545454;

    display: flex;
    justify-content: space-between;
    height: var(--header-height);
    padding: 8px;
}
footer {
    height: var(--footer-height);
    background: green;
}

img {
    display: block;
    width: 100%;
}
.logo-wrapper {
    display: flex;
    height: 48px;
    /*width: 140px;*/
    align-items: center;
}
.logo-wrapper a {
    text-decoration: none;
    cursor: default;
    color: #EAE7DC;
    font-size: 28px;
}

.upload-wrapper {
    display: inline-block;
    height: 48px;
    width: fit-content;
}
#upload_btn {
    margin: 5px 0 0;
}

.content-wrapper {
    min-height: var(--content-wrapper-height);
    display: flex;
}
.sidebar {
    min-height: var(--content-wrapper-height);
    width: 250px;
    background: #545454;
}
.content {
    min-height: var(--content-wrapper-height);
    width: 100%;
    background: #EAE7DC;
    padding: 8px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
}
.content .block {
    height: 130px;
    width: 170px;
    background-color: #ffffff;

    margin: 7px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform .25s;
}
.content .block:hover {
    transform: scale(1.14);
}

.content .block-logo {
    background-image: url("4879903_document_extension_file_files_folder_icon.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width:95%;
    margin-bottom: -2px;
}
.content .block-text {
    height: 25px;
    width: 100%;
    padding: 0 3px;
    background: #545454;
    text-align: center;
    color: #fff;
}